<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VSpeijer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container">
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/education" class="nav-link">Education</a></li>
                        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <ul>
                            <li><p>>>footer</p></li>
                            <li><p>VSpeijer - H24™</p></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <div class="col item social">
                            <a href="https://www.facebook.com"><img src="~/img/icons/footerFacebook.png"></a>
                            <a href="https://www.instagram.com"><img src="~/img/icons/footerInstagram.png"></a>
                            <a href="https://www.tiktok.com"><img src="~/img/icons/footerTiktok.png"></a>
                            <a href="https://www.twitter.com/happpy24"><img src="~/img/icons/footerTwitter.png"></a>
                            <a href="https://www.youtube.com/watch?v=t1JYx8cuZ8g"><img src="~/img/icons/footerYoutube.png"></a>
                        </div>
                    </div>
                    <div class="col-md-3 item text">
                        <h3>redwizards.xyz</h3>
                        <p>This webpage is ownership of Red Wizards.<br />Last updated: 3/6 2022</p>
                    </div>
                    
                </div>
                <p class="copyright">RedWizards - h24 &copy; 2022</p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
