@{
    ViewData["Title"] = "Home";
}

<div class="containers">
    <div class="left-container">
        <img class="bg-container-left" src="~/img/" alt="figuresbg"/>
        <img class="headline" src="~/img/" alt="vivi"/>
    </div>
    <div class="right-container">
        <h1 class="title-text rc-content">>>Vivian Speijer</h1>
        <h2 class="sub-text rc-content">Web dev - Game dev - Design</h2>
        <button class="sub-button rc-content" href=""></button>
    </div>
</div>
<svg width="1440" height="278" viewBox="0 0 1440 278" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.164124 95.9236L1440.16 0.42357L1440.16 18.4236L0.164175 152.424L0.164124 95.9236Z" fill="#B398DD" class="rect1" />
    <path d="M0.164246 152.423L1440.16 18.4044L1440.16 42.4235L0.164215 215.924L0.164246 152.423Z" fill="#9265CE" class="rect2" />
    <path d="M0.164198 215.924L1440.16 42.4235L1440.16 79.9235L0.164221 278L0.164198 215.924Z" fill="#6E2DBD" class="rect3" />
</svg>